In [3]:
import pandas as pd

In [4]:
import numpy as np

In [9]:
df2 = pd.read_csv("HateSpeechDatasetBalanced.csv")

In [10]:
df.head()

                                             Content  Label
0  denial of normal the con be asked to comment o...      1
1  just by being able to tweet this insufferable ...      1
2  that is retarded you too cute to be single tha...      1
3  thought of a real badass mongol style declarat...      1
4                                afro american basho      1

In [11]:
df1 = pd.read_csv('youtoxic_english_1000.csv')

In [12]:
df1 = df1[["Text", "IsHatespeech"]]
df1["IsHatespeech"] = df1["IsHatespeech"].astype(int)
df1.head(2)

                                                Text  IsHatespeech
0  If only people would just take a step back and...             0
1  Law enforcement is not trained to shoot to app...             0

In [13]:
df2 = df2.rename(columns={'Content':"Text","Label":"IsHatespeech"})

In [14]:
combined_df = pd.concat([df2, df1])

combined_df = combined_df.reset_index(drop=True)

combined_df.tail()

                                                     Text  IsHatespeech
727114  I remember that they sent in the national defe...             0
727115  Stats don`t represent the problem. Race baitin...             1
727116  The quote from the mother... Wow that hit hard...             0
727117                            this video is so racist             0
727118      God, the narrator has such an annoying lisp.Â              0

In [15]:
combined_df.groupby("IsHatespeech").count()

                Text
IsHatespeech
0             362456
1             364663

In [16]:

combined_df.to_csv("Final_Dataset.csv")

In [17]:
df =  pd.read_csv("Final_Dataset.csv")

In [18]:
df.head()

   Unnamed: 0                                               Text  IsHatespeech
0           0  denial of normal the con be asked to comment o...             1
1           1  just by being able to tweet this insufferable ...             1
2           2  that is retarded you too cute to be single tha...             1
3           3  thought of a real badass mongol style declarat...             1
4           4                                afro american basho             1

In [19]:
df.describe()

          Unnamed: 0   IsHatespeech
count  727119.000000  727119.000000
mean   363559.000000       0.501518
std    209901.319529       0.499998
min         0.000000       0.000000
25%    181779.500000       0.000000
50%    363559.000000       1.000000
75%    545338.500000       1.000000
max    727118.000000       1.000000

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 727119 entries, 0 to 727118
Data columns (total 3 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    727119 non-null  int64
 1   Text          727119 non-null  object
 2   IsHatespeech  727119 non-null  int64
dtypes: int64(2), object(1)
memory usage: 16.6+ MB

In [22]:
df.isnull().sum()

Unnamed: 0      0
Text            0
IsHatespeech    0
dtype: int64

In [23]:
df.groupby("IsHatespeech").count()

              Unnamed: 0    Text
IsHatespeech
0                 362456  362456
1                 364663  364663