<a href="https://colab.research.google.com/github/spring-board-b2-hate-speech/Group-8/blob/s_work/Data%20Cleaning/Data_cleaning_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing all the necesarry Libraries.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
import re

Reading the CSV file

In [ ]:
df = pd.read_csv("Final_Dataset.csv")
df = df.drop(['Unnamed: 0'], axis=1)

In [ ]:
df.head()

                                                Text  IsHatespeech
0  denial of normal the con be asked to comment o...             1
1  just by being able to tweet this insufferable ...             1
2  that is retarded you too cute to be single tha...             1
3  thought of a real badass mongol style declarat...             1
4                                afro american basho             1

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 727119 entries, 0 to 727118
Data columns (total 2 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Text          727119 non-null  object
 1   IsHatespeech  727119 non-null  int64
dtypes: int64(1), object(1)
memory usage: 11.1+ MB

Check for missing values so as to take proper action on them.

In [ ]:

print(df.isnull().sum())

Text            0
IsHatespeech    0
dtype: int64

Checking for duplicates and removing them.

In [ ]:

print(df.duplicated().sum())

df = df.drop_duplicates()

25050

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 702069 entries, 0 to 727118
Data columns (total 2 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Text          702069 non-null  object
 1   IsHatespeech  702069 non-null  int64
dtypes: int64(1), object(1)
memory usage: 16.1+ MB

Normalizaing the text: Convert text to lowercase

In [ ]:

df['Text'] = df['Text'].str.lower()

Removing all the punctuation and number from the text.

In [ ]:
import string

def remove_noise(text):
    text = text.translate(str.maketrans('', '', string.punctuation))
    text = ''.join([i for i in text if not i.isdigit()])
    return text

df['Text'] = df['Text'].apply(remove_noise)

Tokenizing the Text for further processing.

In [ ]:

df['tokens'] = df['Text'].apply(lambda x: x.split())

Removing the stop words from the text. Stopwords are the words that does not contribute to the meaning of the text.

In [ ]:
from nltk.corpus import stopwords
import nltk

nltk.download('stopwords')
stop_words = set(stopwords.words('english'))

def remove_stopwords(tokens):
    return [word for word in tokens if word not in stop_words]

df['tokens'] = df['tokens'].apply(remove_stopwords)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\shrey\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

In [ ]:
df.head()

,Text,IsHatespeech,tokens
0,denial of normal the con be asked to comment o...,1,"[denial, normal, con, asked, comment, tragedie..."
1,just by being able to tweet this insufferable ...,1,"[able, tweet, insufferable, bullshit, proves, ..."
2,that is retarded you too cute to be single tha...,1,"[retarded, cute, single, life]"
3,thought of a real badass mongol style declarat...,1,"[thought, real, badass, mongol, style, declara..."
4,afro american basho,1,"[afro, american, basho]"

Performing Lemmaztization on the tokens to reduce the words to their base meaningfull form.

In [ ]:
from nltk.stem import PorterStemmer, WordNetLemmatizer

nltk.download('wordnet')

lemmatizer = WordNetLemmatizer()

def lemmatize_tokens(tokens):
    return [lemmatizer.lemmatize(word) for word in tokens]

df['tokens'] = df['tokens'].apply(lemmatize_tokens)

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\shrey\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

Reassembling the tokens to form the cleaned text.

In [ ]:

df['clean_text'] = df['tokens'].apply(lambda x: ' '.join(x))

Removing and special characters that might be left in the cleaned text.

In [ ]:

def remove_special_characters(text):
    text = re.sub(r'[^a-zA-Z\s]', '', text)
    return text

df['clean_text'] = df['clean_text'].apply(remove_special_characters)

Removing the URLs, mentions, and hashtags to make the cleaned text more cleaned and meaningfull

In [ ]:

def remove_urls_mentions_hashtags(text):
    text = re.sub(r'http\S+|www\S+|https\S+', '', text, flags=re.MULTILINE)
    text = re.sub(r'\@\w+|\#', '', text)
    return text

df['clean_text'] = df['clean_text'].apply(remove_urls_mentions_hashtags)

Create a feature for text length so as to determine the length of all the important words in the text.

In [ ]:

df['text_length'] = df['clean_text'].apply(len)

In [ ]:
df.head(3)

,Text,IsHatespeech,tokens,clean_text,text_length
0,denial of normal the con be asked to comment o...,1,"[denial, normal, con, asked, comment, tragedy,...",denial normal con asked comment tragedy emotio...,56
1,just by being able to tweet this insufferable ...,1,"[able, tweet, insufferable, bullshit, prof, tr...",able tweet insufferable bullshit prof trump na...,55
2,that is retarded you too cute to be single tha...,1,"[retarded, cute, single, life]",retarded cute single life,25

In [ ]:
df.to_csv('cleaned_Final_dataset.csv', index=False)

'C:\\Users\\shrey\\Downloads'